<div class="details">
  <div class="title">Details</div><br>
    <div class="pin">
      
      <%= form_for @pin do |f| %>
      <div class="name">
      <%= f.label :店名 %>
      <p><%= @pin.name %></p><br>
      </div>
      
      <div class="url">
      <%= f.label :URL %>
      <p><%= @pin.url %></p><br>
      </div>

      <div class="about">
      <%= f.label :コメント %>
      <p><%= @pin.about %></p><br>
      </div>

      <p><%= @pin.created_at %></p><br>
      
      <div class="tag">
        <% @pin.tags.each do |tag| %>
          <span><%= tag.name %></span>
        <% end %><br>
      </div>

      <br><%= link_to "編集する", edit_pin_path(@pin.id) %><br>
        <div class="button">
        <%= button_to "削除する", pin_path(@pin.id), method: :delete, class: "delete" %><br>
        </div>
    </div>
    <% end %>
</div>